@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway:600|Rozha+One');
img {
    width: 200px;
    border: 9px;
    border-style: solid;
    border-color: darkblue;
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: navy;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;   
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    
}

p {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: auto;
    width: 100%;
    text-align: center;
    max-width: 400px;
    background: linear-gradient(to bottom right, white, lightblue);
}
